.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid grey;
  border-radius: 100%;
  background-color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

#correct {
  background-color: green;
  border: none;
  color: white;
}

#wrong {
  background-color: grey;
  border: none;
  color: white;
}

#almost {
  background-color: rgb(213, 192, 98);
  border: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .letter {
    flex-grow: 1;
    max-height: 45px;
    height: auto;
    min-height: 40px;
    width: auto;
    max-width: 40px;
    min-width: 10px;
    font-size: 1rem;
  }
}