.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.go-back {
  text-decoration: underline;
  color: white;
  background-color: unset;
  border: none;
  font-size: 1.1em;
}

.go-back:hover {
  cursor: pointer;
}

.attempts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.attempt-row {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  gap: 0.4rem;
  padding: 0.3rem;
}
