.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  min-width: 25%;
  flex-shrink: 1;
}

.shirt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  position: relative;
}

.shirt-container:hover {
  cursor: pointer;
}

.shirt {
  max-height: 100px;
  width: 100%;
}

.number-of-tries {
  position: absolute;
  transform: translate(1px,-8px);
  font-size: 2.8rem;
  color: white;
}

.player-name-length {
  position: absolute;
  transform: translate(0px, 45px);
  background-color: antiquewhite;
  padding: 3px 6px;
  min-width: 30px;
  border-radius: 10px;
  text-align: center;
}

.player-name {
  font-size: 1.5rem;
  color: antiquewhite;
  margin-top: 10px;
  background-color: transparent;
  text-align: center;
  border: none;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .shirt {
    max-height: 55px;
  }

  .number-of-tries {
    transform: translate(1px,-3px);
    font-size: 2rem;
  }

  .player-name-length {
    transform: translate(-1px, 30px);
    font-size: 0.7rem;
  }
  
  .player-name {
    font-size: 0.9rem;
    color: antiquewhite;
    margin-top: 10px;
    background-color: transparent;
    text-align: center;
    border: none;
  }
}