.menu-page {
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right,#04014d, #0e0398, #04014d);
  display: flex;
  padding-bottom: 100px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.champions-league-bg {
  background-image: linear-gradient(to right,#04014d, #0e0398, #04014d);
}

.world-cup-bg {
  background-image: none;
  background-color: #d80541;
}

.audio-control {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.subtitle {
  color: white;
  text-align: center;
}

.game-selector {
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.year-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-basis: 400px;
  padding: 20px 25px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, rgba(88, 88, 88, 0.568),  rgba(250, 250, 250, 0.363));
}

.year {
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.game-card {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background-color: #cdcdcd2f;
  border-radius: 3px;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.096);
  transition: opacity ease 300ms;
  text-decoration: none;
  color: black;
  position: relative;
}

.marked {
  position: absolute;
  top: 0;
  right: -28px;
  transform: translate(-50%, -50%);
  color: rgb(18, 143, 18);
  height: 30px;
  width: 30px;
  background-color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.game-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.game-card > h3 {
  padding: 0;
  margin: 0;
}

.team-logo {
  max-width: 110px;
}

@media screen and (max-width: 600px) {
  .audio-control {
    display: none;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .year-container {
    padding: 10px 15px;
    gap: 8px;
  }

  .year {
    font-size: 1.3rem;
  }

  .game-card {
    flex-basis: 290px;
  }
};