.key {
  background-color: #cdcdcd;
  flex: 1 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
}

#big {
  flex: 2 1;
}

.key:hover {
  cursor: pointer;
  opacity: 0.8;
}