.key {
  background-color: #cdcdcd;
  flex: 1 1;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
}

#big {
  flex: 2 1;
}

.key:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .key {
    font-size: 0.8rem;
  }
}