@font-face {
  font-family: "Qatar2022Bold";
  src: local("Qatar2022Bold"), url("../../assets/fonts/Qatar2022Arabic-Bold.ttf") format("truetype");
  font-weight: bold;
}

.game-type-menu-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(255, 254, 254);
}

.game-type-menu-page > h1 {
  font-size: 3rem;
  margin: 0;
  padding: 40px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(175, 177, 177), rgb(255, 255, 255));
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  flex-grow: 1;
}

.game-types-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.game-type-card {
  flex-basis: 300px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 2px rgba(71, 71, 71, 0.3);
  color: white;
  transition: all ease 300ms;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.game-type-card:nth-of-type(1) {
  color: #04014d;
  background-color: white;
}

.game-type-card:nth-of-type(2) {
  background-color: #d80541;
  font-family: Qatar2022Bold;
}

.game-type-card:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

.game-image {
  min-height: 190px;
}

.champions {
  background-image: url('../../assets/images/champions-league-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.world-cup {
  background-image: url('../../assets/images/world-cup-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2, h3 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

footer {
  padding: 20px;
  background-image: linear-gradient(to top, rgb(175, 177, 177), rgb(255, 255, 255));
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .game-type-menu-page {
    gap: 10px;
  }

  .game-type-menu-page > h1  {
    font-size: 2.5rem;
    padding: 20px;
  }

  .content {
    padding: 20px;
  }

  .game-types-container {
    padding-top: 0;
  }
  
}