@font-face {
  font-family: "Qatar2022Bold";
  src: local("Qatar2022Bold"), url("../../assets/fonts/Qatar2022Arabic-Bold.ttf") format("truetype");
  font-weight: bold;
}

.game-type-menu-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 3rem;
}

.game-types-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.game-type-card {
  flex-basis: 300px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 2px rgba(94, 93, 93, 0.2);
  color: white;
  transition: all ease 300ms;
  text-align: center;
  overflow: hidden;
}

.game-type-card:nth-of-type(1) {
  color: #04014d;
  background-color: white;
}

.game-type-card:nth-of-type(2) {
  background-color: #d80541;
  font-family: Qatar2022Bold;
}

.game-type-card:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

.game-image {
  min-height: 190px;
}

.champions {
  background-image: url('../../assets/images/champions-league-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.world-cup {
  background-image: url('../../assets/images/world-cup-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}